{%include "adminheader.html" %}
<center>
	<br>
			<br>
			<br>
			<br>
	<form>
		<table class="table" style="width:1000px">
			<h1><b>BOOKINGS</b></h1>
			<br>
			<br>
			<tr>
				<th>Sl No</th>
				<th>User Name</th>
				<th>Driver Name</th>
				<th>No Of Litter</th>
				<th>Amount</th>
				<th>Date-Time</th>
				<th>Status</th>
				
			</tr>
			{% for row in viewbooking %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{row.user.u_first_name}}</td>
				<td>{{row.driver.d_first_name}}</td>
				<td>{{row.no_of_litter}}</td>
				<td>{{row.booking_amount}}</td>
				<td>{{row.booking_datetime}}</td>
				<td>{{row.booking_status}}</td>			
			</tr>
			{% endfor %}
			
		</table>
	</form>
</center>
{%include "footer.html" %}